.gomycode{
    color: rgb(72, 3, 75);
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    text-align:center;
    width: 1401,5px;
    padding: 20px;
    background-color:rgb(238, 228, 228);
    margin-bottom: 0px;
    
}
